.centro {
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    position: absolute;
    top: 50%;
    left: 50%;
}

h1 {
    color: #808080;
    font-size: 4em;
    text-align: center;
}

h3 {
    color: #808080;
    font-size: 1em;
    text-align: center;
}

body {
    background: #404241;
    font-family: "Bebas Neue", Arial;
}

input {
    height: 2em;
    width: 500px;
    font-size: 3.5em;
    text-align: center;
}

.line {
    display: block;
    border: none;
    color: #fff;
    background: transparent;
    border-bottom: 1px dotted black;
    padding: 5px 2px 0 2px;
}

    .line:focus {
        outline: none;
        border-color: #00ff21;
    }

.metro {
    width: 480px;
    height: 3em;
    margin: 10px;
    background: #08C;
    color: white;
    font-weight: bold;
    font-size: 2.8em;
    border: none;
}

    .metro:hover {
        background: #0AF;
    }

    .metro.three-d {
        position: relative;
        box-shadow: 1px 1px #53A7EA, 2px 2px #53A7EA, 3px 3px #53A7EA;
        transition: all 0.1s ease-in;
    }

        .metro.three-d:active {
            box-shadow: none;
            top: 3px;
            left: 3px;
        }
